.custom-nav a{
    font-weight:500;
    color: white;
}
.custom-nav a:hover{
    text-decoration: none;
    color: white;
}
.custom-link a{
    padding-right:20px;
}
.custom-nav{
    background-color:rgba(0, 0, 0, 0.13);
    margin-bottom:50px;
}
.icon-name{
    font-size:30px;
    
}
@media only screen and (max-width: 300px) {
    .custom-nav-responsive a{
      font-size: 16px;
    }
  }
