body{
    /* background:url(./images/backgrounds/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background:linear-gradient(90deg, #4568dc 0%,#b06ab3 100% ); */
    background:linear-gradient(90deg, #4568dc 0%,#853d88 100% );
}
