.projects{
    color: white;
}
.newline{
    border-top: 1px solid white;
}
.category button{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    border:none;
    outline: none!important;
    padding:5px 20px 5px 20px;
}
@media only screen and (max-width: 300px) {
    .category button{
        font-size: 13px;
        font-weight: 400;
        padding:5px 10px 5px 10px;
    }
  }